<% layout('layout') %>

<h1><%= org.name %></h1>
<p>Org dashboard</p>

<ul style="margin-top:16px;">
  <li>
    <a href="/org/users">Manage users</a>
  </li>
  <li>
    <a href="/org/usage">See usage</a>
  </li>
  <li>
    <a href="/org/settings">Update details</a>
  </li>
</ul>
